# Excluir binarios pesados locales
/jdk11/
/maven/

# Excluir archivos de compilación de Maven
**/target/
target/

# Excluir configuraciones de IDE (IntelliJ IDEA, Eclipse, VS Code)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Archivos del sistema y logs
*.log
.DS_Store
Thumbs.db
